body,html {
	height: 100%;
}

.footer {
	height: 30px;
}

.container {
	direction: rtl;
	display: box;
	flex-direction: row;
}

.nav-toggle {
	width: 25%;
	display: flex;
	flex-direction: row-reverse;
	position: fixed;
}

.nav {
	display: flex;
	flex-direction: column;
	width: 100%;
	display: block;
	background-color: Gold;
	text-align: center;
	color : Coral;
}

.nav-toggle:target {
	width: inherit;
}

.nav-toggle:target .nav {
	display: none;
}

.toggle-box a.show-menu {
	display: none;
}

.nav-toggle:target .toggle-box a.show-menu {
	display: block;
}

.toggle-box a.hide-menu {
	display: block;
}

.nav-toggle:target .toggle-box a.hide-menu {
	display: none;
}

.nav .links{
	display: flex;
	flex-direction: column;
}

.nav .button{
	color : Gold;
	background-color: Coral;
	/*margin: 10px;
	padding: 5px;*/
	border-style: outset;
	font-size: 20px;
	text-align: center;
	align-self: center;
	width: 95%;
	height: 30px;
	text-decoration: none;
}

.main {
	width: 100%;
}

.main .header{
	display: flex;
	flex-direction: row;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	/*flex-grow: 1;*/
}

.header .header-title {
	align-self: flex-start;
	flex-grow: 1;
}

.header .logo {
	width: 100px;
	height: 100px;
	align-self: flex-end;
}

.header .fade-box {
	position: relative;
	height: 100px;
}

.header .fade-box img{
	transition: opacity 1s ease-in-out;
	position: absolute;
	left: 0;
	background-color: white;
}

.header .fade-box #ut {
	opacity: 1;
}

.header .fade-box #ut:hover {
	opacity: 0;
}

.main .content {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

