body{
	direction: rtl;
	flex-direction: row;
	display: flex;
	font-size: 15px;
}

div.nav {
	display: flex;
	flex-direction: column;
	width: 240px;
	display: block;
	background-color: Gold;
	text-align: center;
	color : Coral;
}

div.links{
	display: flex;
	flex-direction: column;
	height: 240px;
}

.button{
	color : Gold;
	background-color: Coral;
	/*margin: 10px;
	padding: 5px;*/
	border-style: outset;
	font-size: 20px;
	text-align: center;
	align-self: center;
	width: 230px;
	height: 30px;
	text-decoration: none;
}

.header{
	color : YellowGreen;
}